<!DOCTYPE html>
<html>
<title>EWS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link href="stylesheets/paging.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/jquery.table.hpaging.min.js"></script>
<script>
	$(document).ready(function() { 
		   $("table").hpaging({ 
			"limit": 10 
			});
	});

	$("table").hpaging({ 
		activePage: 1,
		parentID: '',
		navBar: null,
		totalPages: ''
	});
</script>
<style>
	.heading1 {
		background-color: #9e4c4c;
	} 
</style>
<body>
	<div class="w3-container" style="background-color: #3993c0;">
		<p class="w3-xlarge ">
				News Analytics for Counterpartry Credit Risk
		</p>
		<img alt="TCS Logo" src="images/tcs-logo.png" style="position: absolute;top: 0;right: 0;height: 84px;">
	</div>
	<br>
	<center><h1 class="heading1">Connected Counterparty Details for <%=data.cp_name%></h1></center>
	<br>
	<div class="w3-container">
		<table class="w3-table-all">
			<tr>
				<td>Counterparty Name: <b><%=data.cp_name%></b></td>
				<td>Parent Name: <b><%=data.ult_parnt_name%></b></td>
				<td>Current Sentiment Score: <b><%=data.ad_score%> %</b></td>
				<td>Geography: <b><%=data.cdc_cntry_risk%></b></td>
			</tr>
		</table>
	</div>
	<br>
	<div class="w3-container">
	  <table class="w3-table-all">
			<tr>
			    <th>Connected Counterparty</th>
			    <th>Ultimate Parent Name</th>
			    <th>Nature of Relationship</th>
			    <th>MTM Net  (Mn $)</th>
			    <th>CVA</th>
			    <th>News Analytics Score</th>
			    <th>Last Refresh Time</th>
			    <th>Credit Rating</th>
			</tr>
			<% if(data.ccpl.length){ 
			for(var i = 0;i < data.ccpl.length;i++) { %>
			<tr>
				<td><a href="counterpartydetails?cp_id=<%=data.ccpl[i].CM_CP_ID%>&cp_name=<%=data.ccpl[i].CM_CP_NAME%>&ult_parnt_name=<%=data.ccpl[i].CM_ULT_PARNT_NAME%>&ad_score=<%=data.ccpl[i].AD_SCORE%>"><%=data.ccpl[i].CM_CP_NAME%></a></td>
			    <td><%=data.ccpl[i].CM_ULT_PARNT_NAME%></td>
			    <td><%=data.ccpl[i].CM_NTR_RLTN%></td>
			    <td><%=data.ccpl[i].CDC_MTM_NET%></td>
			    <td><%=data.ccpl[i].CDC_CVA%></td>
			    <td><%=data.ccpl[i].AD_SCORE%></td>
			    <td><%=data.ccpl[i].AD_SCORE_UPDTIME%></td>
			    <td><%=data.ccpl[i].CM_CURRENT_RATING%></td>
			</tr>
			<% }
				}else{ %>
			<tr>
				<td colspan="3">No Data</td>
			</tr>
			<% } %>
		</table>
	</div>

</body>
</html>