<!DOCTYPE html>
<html>
<title>EWS</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style_sort.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/tablesorter/jquery-latest.js"></script> 
<script type="text/javascript" src="js/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="js/jquery.tablesorter.pager.js"></script>
<script> 
    $(document).ready(function() { 	  
	{ 
		$("#dashboardTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']}); 
		}

		$('#homeMenu').click(function(e){
			e.preventDefault();
			var form = $('<form method="POST" action="/auth"><input type="hidden" id="username" name="username" value="internal"/></form>');
			$(document.body).append(form);
			form.append('<input type="hidden" name="id" value="4"/>');
			form.submit();
		});
	});
</script>
</head>
<body>
    <div id="container" class="width">
        <header> 
            <div class="width">
                <img style="padding-top: 7px" src="images/EWSLogo.png" />
                <nav>
                    <ul class="sf-menu dropdown">
                        <li><a href="#" id="homeMenu"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="/chat"><i class="fa fa-comments"></i>Chat</a></li>
                        <li><a href="/"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                    <div class="clear"></div>
                </nav>
            </div>
            <div class="clear"></div>
        </header>
        <div id="intro">
            <div class="width">
                <div class="intro-content">
                    <h2>News Analytics for Counterparty Credit Risk </h2>
                    <p>Details for <%=data.cp_name%></p>
                </div>
            </div>    
        </div>
        <div id="body" class="width">
            <section id="content" class="single-column">
                <table style="background: #fbf4ae;color: black;font-size: 15px;">
                    <tr>
                        <td style="text-align: end;">Counterparty Name:</td>
                        <td><b><%=data.cp_name%></b></td>
                        <td style="text-align: end;">Parent Name:</b></td>
                        <td><%=data.ult_parnt_name%></td>
                        <td style="text-align: end;">News Analytics Score:</td>
                        <td><b><%=data.ad_score%> %</b></td>
                        <td style="text-align: end;">Geography:</td>
                        <td><b><%=data.cod[0].CDC_CNTRY_RISK%></b></td>
                    </tr>
                </table>
                <table style="font-size: small;">
                    <tr>
                        <td><b>Agreement Date:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;width: 10%;">20-Mar-07</td>
                        <td><b>Closeout Netting Legal Opinion:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;">Yes</td>
                        <td><b>Closeout Netting Legal Opinion Type:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;">Clean</td>
                        <td><b>Closeout Netting Legal Opinion Date:</b></td>
                        <td style="width: 10%;">01-Jan-08</td>
                    </tr>
                    <tr>
                        <td><b>CSA:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;">Yes</td>
                        <td><b>Closeout Netting:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;">Yes</td>
                        <td><b>Settlement Netting:</b></td>
                        <td style="border-right-width: 1px;border-right-style: solid;">No</td>
                        <td><b>Use Netting Pool:</b></td>
                        <td>Yes</td>
                    </tr>
                </table>
            </section>
            <section id="content" class="two-column with-right-sidebar">
                <center style="padding-top: 5px"><span class="my-h4">Portfolio Details</span></center><br>
                <table id="dashboardTable" class="tablesorter">
                    <thead>                            
                        <tr>                               
                            <th>Legal Entity</th>
                            <th style="width:12%">Product</th>
                            <th>Deal Count</th>
                            <th>Exposure Type</th>
                            <th>Measure</th>
                            <th>Time Band</th>
                            <th>Limit Available (mn $)</th>
                            <th>Exposure (mn $)</th>
                            <th style="width:7%">Availabe (mn $)</th>
                            <th style="width: 13%;">Limit Expiry</th>
                            <th>Tenor Limit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.pdl && data.pdl.length){ 
                        for(var i = 0;i < data.pdl.length;i++) { %>
                        <tr>
                            <td><%=data.pdl[i].CDC_LEGAL_ENTITYTYPE%></td>
                            <td><%=data.pdl[i].CDC_PRODUCTS%></td>
                            <td style="text-align:right"><%=data.pdl[i].CDC_DEAL_COUNT%></td>
                            <td><%=data.pdl[i].CDC_EXP_TYPE%></td>
                            <td><%=data.pdl[i].CDC_MEASURE%></td>
                            <td><%=data.pdl[i].CDC_TIME_BAND%></td>
                            <td style="text-align:right"><%=data.pdl[i].CDC_LIMIT%></td>
                            <td style="text-align:right"><%=data.pdl[i].CDC_EXPOSURE%></td>
                            <td style="text-align:right"><%=data.pdl[i].CDC_AVAILABLE%></td>
                            <td><%=data.pdl[i].CDC_LIMIT_EXP%></td>
                            <td><%=data.pdl[i].CDC_TENOR%></td>
                        </tr>
                        <% }
                            }else{ %>
                        <tr>
                            <td colspan="11">No Data</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% if(data.length && data.length > 20){ %>
                <div id="pager" class="pager">
                    <form>
                        <img src="images/first.png" class="first"/>
                        <img src="images/prev.png" class="prev"/>
                        <input type="text" value="1/1" class="pagedisplay" disabled="true"/>
                        <img src="images/next.png" class="next"/>
                        <img src="images/last.png" class="last"/>
                        <select class="pagesize">
                            
                            <option value="10">10 per page</option>
                            <option value="15">15 per page</option>
                            <option value="20 selected">20 per page</option>
                            <option value="50">50 per page</option>
                
                        </select>
                    </form>
                </div>
                <% } %>
            </section>
            <aside class="sidebar big-sidebar right-sidebar" style="padding-top:7px">
                <div style="background-color: #fbf4ae;color: black">
                    <center style="padding-bottom: 29px;background-color:white"><span class="my-h4">Counterparty Details</span></center>
                    <table>
                        <% if(data.cod && data.cod.length){ %>
                            <tr>
                                <td>Customer Name:</td>
                                <td><%=data.cod[0].CM_CP_NAME%></td>
                            </tr>
                            <tr>
                                <td>Customer ID:</td>
                                <td><%=data.cod[0].CM_CP_ID%></td>
                            </tr>
                            <tr>
                                <td>Ultimate Parent Name:</td>
                                <td><%=data.cod[0].CM_ULT_PARNT_NAME%></td>
                            </tr>
                            <tr>
                                <td>Ultimate Parent ID:</td>
                                <td><%=data.cod[0].CM_ULT_PARENT_ID%></td>
                            </tr>
                            <tr>
                                <td>Risk Officer:</td>
                                <td><%=data.cod[0].CLM_RISK_OFFICER%></td>
                            </tr>
                            <tr>
                                <td>Country of Risk:</td>
                                <td><%=data.cod[0].CDC_CNTRY_RISK%></td>
                            </tr>
                            <tr>
                                <td>Country of Domicile:</td>
                                <td><%=data.cod[0].CDC_CNTRY_DMCILE%></td>
                            </tr>
                            <tr>
                                <td>Internal Rating:</td>
                                <td><%=data.cod[0].CDC_INT_RATING%></td>
                            </tr>
                            <tr>
                                <td>External Rating:</td>
                                <td><%=data.cod[0].CM_CURRENT_RATING%></td>
                            </tr>
                            <% 
                            }else{ %>
                            <tr>
                                <td colspan="2">No Data</td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </aside>
            <div class="clear"></div>
        </div>
        <footer class="width">
                <div class="footer-bottom">
                    <p>TCS 2017 <a href="http://tcs.com/">Early Warning System</a> by TCS</p>
                </div>
        </footer>
    </div>	
</body>
</html>