<!DOCTYPE html>
<html>
<title>EWS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<script src="js/jquery-1.11.1.min.js"></script>
<body>
	<div class="w3-container" style="background-color: #3993c0;">
		<p class="w3-xlarge ">
				News Analytics for Counterpartry Credit Risk
		</p>
		<img alt="TCS Logo" src="images/tcs-logo.png" style="position: absolute;top: 0;right: 0;height: 84px;">
	</div>
	<div class="w3-container">
	  <table class="w3-table-all">
			<tr>
			    <th>Counterparty</th>
			    <th>Ultimate Parent Counter Party</th>
			    <th>News Analytics Score</th>
			    <th>Last Refresh Time</th>
			    <th>Credit Rating</th>
			</tr>
			<% if(data.length){ 
			for(var i = 0;i < data.length;i++) { %>
			<tr>
			    <td><%=data[i].CM_CP_NAME%></td>
			    <td><%=data[i].CM_ULTIMATE_PARENT_NAME%></td>
			    <td><%=data[i].AD_SCORE%></td>
			    <td><%=data[i].AD_SCORE_UPDATETIME%></td>
			    <td><%=data[i].CM_CURRENT_RATING%></td>
			</tr>
			<% }
				}else{ %>
			<tr>
				<td colspan="3">No Data</td>
			</tr>
			<% } %>
		</table>
	</div>

</body>
</html>